### Java template
*.class

# Package Files #
*.war
*.ear

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

# Compliled files
/target/
**/target

/example/

# Gradle
.gradle
/build/
.gradletasknamecache

# Intelli J
application-dev.properties
application-prod.properties

src/main/generated
secret.json